<div id="home">
    <div>
        <div>
            <img class="logo" src="./media/img/One-Piece-Logo.png" alt="">
        </div>
        <div class="description">
            <p>
                Um jovem pirata com o sonho de encontrar o lendário tesouro conhecido como "One Piece" e se tornar o Rei
                dos Piratas.
            </p>
            <p>
                Luffy adquire habilidades de uma fruta do diabo que lhe dá elasticidade, mas o torna incapaz de nadar.
            </p>
        </div>
        <div class="button_control">
            <a href="https://www.youtube.com/watch?v=MCb13lbVGE0" target="_blank">
                <button>ASSISTIR O TRAILER</button>
            </a>
            <button>Outro</button>
        </div>
    </div>
    <div id="carousel">
        <img class="imgView" src="./media/img/Luffy.webp" alt="">
    </div>
</div>