<div id="story">
    <div>
        <p>
            <img src="./media/img/One-Piece-Logo.png" alt="">
        </p>
        <p>
            As ultimas palavras do rei dos piratas Gold Roger antes de sua execução inspiraram um incontável número
            de
            piratas a buscar a última ilha da Grand Line, a ilha de Raftel, onde Gold Roger escondeu seu precioso
            tesouro, "One Piece". Assim o mundo entrou na era pirata.
        </p>
        <p>
            A história de One Piece segue Monkey D. Luffy, que sonha encontrar o "One Piece" e se tornar o rei dos
            piratas. Quando criança, ele se inspirou por um pirata que usava sua cidade natal como base, Shanks.
        </p>
        <p>
            Determinado a se tornar um pirata, Luffy constantemente pede a Shanks para levá-lo ao mar mesmo ele não
            conseguindo nadar. Depois de Shanks ter um vergonhoso encontro com um bandido local, Luffy perde a
            confiança
            nos piratas e acidentalmente come uma Akuma No Mi (Gomu Gomu no Mi) e acaba se tornando um
            homem-borracha
            isso fez com que ele nunca mais possa nadar.
        </p>
        <p>
            Alguns dias depois Shanks vai para o mar, e Luffy defendendo-o nesses dias de ausência acaba sequestrado
            pelo bandido. Quando o bandido estava prestes a matar Luffy quando o bando de Shanks aparece, e um
            membro de
            sua tripulação acaba com todos os capangas do bandido usando apenas uma mão, mas o bandido escapa para o
            mar
            com Luffy. Após se distanciar um pouco da costa com Luffy a sorte vira e o bandido acaba virando comida
            de
            um monstro marinho, que estava pronto para comer Luffy quando Shanks aparece e o salva, mas infelizmente
            perde seu braço esquerdo.
        </p>
        <p>
            Depois deste evento Luffy decide se tornar um pirata por si mesmo, juntar uma tripulação mais forte que
            a de
            Shanks, achar o maior tesouro do mundo e se tornar o rei dos piratas.
        </p>
        <p>
            Logo antes de sua partida Shanks entrega a Luffy seu chapéu de palha favorito e diz para ele devolve-lo
            assim que se tornar um grande pirata.
        </p>
    </div>
</div>